*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(201, 167, 125);
    text-align: center;
}

h1{
    font-size: 36px;
    margin-top:25px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: bisque;
    background-color: rgb(74, 72, 72);
}

#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: black;
    color:bisque;
    border-radius: 1rem;
    border:none;
    margin-bottom: 20px;
}

#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: black;
    color:bisque;
    border-radius: 1rem;
    border:none;
}

#msg{
    color:black;
    font-size:8vmin;
}

.msg-container{
    height: 100vmin;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}

.hide{
    display: none;
}